
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    height: 100vh;
    font-family: Comic Sans MS, Comic Sans, cursive;
   }
   input {
    font: inherit;
    padding: 0.4em 0.5em;
  }
   .button {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: 3px;
    position: relative;
    background-color: #16a085;
    border: none;
    color: #fff;
    padding: 12px;
    width: 75px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
  }
  
  .button:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #1abc9c;
    color: #000;
  }
  
  .button:after {
    content: "";
    background: #1abc9c;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .button:focus { outline:0; }

  .deleteButton{
    position: relative;
    background-color: black;
    border-radius: 4em;
    font-size: 10px;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; 
  }
  
  .deleteButton:hover {
    transition-duration: 0.1s;
    background-color: #3A3A3A;
  }
  
  .deleteButton:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }
  
  .deleteButton:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  
  .deleteButton:active {
    top: 1px;
  }
  .addButton{
    position: relative;
    background-color: black;
    border-radius: 4em;
    font-size: 11px;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; 
  }
  
  .addButton:hover {
    transition-duration: 0.1s;
    background-color: #3A3A3A;
  }
  
  .addButton:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }
  
  .addButton:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  
  .addButton:active {
    top: 1px;
  }
  
  .tdButton{
    position: relative;
    background-color: black;
    border-radius: 4em;
    font-size: 8px;
    color: white;
    padding: 0.5em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; 
  }
  
  .tdButton:hover {
    transition-duration: 0.1s;
    background-color: #3A3A3A;
  }
  
  .tdButton:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 2em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }
  
  .tdButton:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  
  .tdButton:active {
    top: 1px;
  }
  th {
    text-align: left;
    color: #fff;
    background-color: #706d97;
}
td {
    min-width: 100px;
    color: #696969;
    border-bottom: 1px solid #eee;
}
th, td {
    padding: 10px;
    height: 20px;
}
td:first-child {
    width: 100px;
    min-width: 0;
}
th:last-child {
    text-align: right;
}
td:last-child {
    width: 50px;
    min-width: 0;
    text-align: right;
}
tr:nth-child(odd) {
    background-color: #eee;
}
